.container {
    position: relative;
}

.caja {
    width: 180px;
    height: 180px;
    color: #FFF;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    float: left;
    font-size: 18px;
    font-family: Arial;
}

.caja1 {
    background-color: #C0392B;
}

.caja2 {
    background-color: #9B59B6;
}

.caja3 {
    background-color: #2980B9;
}

.caja4 {
    background-color: #3498DB;
}

.caja5 {
    background-color: #17A589;
}

.caja6 {
    background-color: #F1C40F;
}

.caja7 {
    background-color: #E67E22;
}

.caja8 {
    background-color: #95A5A6;
}

.caja9 {
    background-color: #2C3E50;
}

.caja10 {
    background-color: grey;
}

.caja11 {
    background-color: black;
}

.fade {
    animation: fadeout 5s forwards, disappear 0s 5s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {}
    100% {
        height: 0;
        width: 0;
    }
}

@keyframes colores {
    from {
        background: red;
    }
    to {
        background: blue;
    }
}

.animacion {
    animation: colores 3s ease;
}